VITE_API_BASE_URL=http://localhost:5000
VITE_DEV_API_PROXY=http://localhost:5000
VITE_ENABLE_DONATION_MOMENT=true
VITE_ENABLE_APP_MONITORING=true
VITE_SITE_URL=
VITE_GRAPH_API_URL=https://api.studio.thegraph.com/query/1744275/basefundai/version/latest
VITE_GRAPH_API_URL_BASE_SEPOLIA=
VITE_GRAPH_API_URL_ARC_TESTNET=
VITE_GRAPH_API_URL_ROBINHOOD_TESTNET=
VITE_ARC_RPC_URL=
VITE_ROBINHOOD_RPC_URL=
VITE_SOCIAL_X_URL=https://x.com/basefundai
VITE_SOCIAL_TELEGRAM_URL=
VITE_SOCIAL_DISCORD_URL=
VITE_SOCIAL_GITHUB_URL=https://github.com/drcryptonft/BaseFundAI
VITE_SOCIAL_MEDIUM_URL=
VITE_DOCS_URL=
VITE_MEDIA_KIT_URL=

TRUST_PORT=5000
TRUST_ALLOWED_ORIGIN=http://localhost:5173
TRUST_TRUST_PROXY=false
APP_MONITORING_ENABLED=true
MONITORING_ADMIN_TOKEN=
CAMPAIGN_REGISTRY_DB_PATH=server/data/campaign-registry.sqlite
DONATION_MOMENT_ENABLED=true

ALCHEMY_RPC_URL=
ETHERSCAN_API_URL=https://api.etherscan.io/v2/api
ETHERSCAN_API_KEY=
ARC_RPC_URL=https://rpc.testnet.arc.network
ARCSCAN_API_URL=https://api.blockscout.com/5042002/api/v2
ARCSCAN_API_KEY=
ROBINHOOD_RPC_URL=https://rpc.testnet.chain.robinhood.com
ROBINHOODSCAN_API_URL=https://explorer.testnet.chain.robinhood.com
ROBINHOODSCAN_API_KEY=
PINATA_JWT=
PINATA_API_KEY=
PINATA_SECRET_API_KEY=
MEDIA_STORAGE_PROVIDER=pinata
LOCAL_MEDIA_STORAGE_PATH=server/data/media
LOCAL_MEDIA_PUBLIC_BASE_URL=/media
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_PUBLIC_BASE_URL=

GITCOIN_API_KEY=
GITCOIN_SCORER_ID=

GEMINI_API_KEY=
GEMINI_MODEL=gemini-3-flash-preview
